<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>snowflake</title>
  <meta name="description" content="">
  <meta name="author" content="Ed King <ed@teddyking.co.uk>">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="/static/dist/css/normalize.css" type='text/css'>
  <link rel="stylesheet" href="/static/dist/css/skeleton.css" type='text/css'>
  <link rel="stylesheet" href="/static/css/custom.css" type='text/css'>

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="/static/images/favicon.ico">

</head>

<body>
  <div class="container">
    <section class="header">
      <h1 class="title">❄️</h1>
    </section>

    <div class="summary">
      -- Found {{ len . }} flakes across y suites --
    </div>

    {{ range . }}
    <div class="flake ellipsis">
      <div class="flake-item row">
        <div class="two columns">Codebase:</div><div class="ten columns">{{ .ImportPath }}</div>
      </div>
      <div class="flake-item row">
        <div class="two columns">Suite:</div><div class="ten columns">{{ .SuiteDescription }}</div>
      </div>
      <div class="flake-item row">
        <div class="two columns">Test:</div><div class="ten columns">{{ .TestDescription }}</div>
      </div>
      <div class="flake-item row">
        <div class="two columns">Location:</div><div class="ten columns">{{ .Location }}</div>
      </div>
      <div class="flake-item row">
        <div class="two columns failure">Cause:</div><div class="ten columns">{{ nl2br .Failure.Message }}</div>
      </div>
      <div class="flake-item row">
        <div class="two columns">Flake rate:</div><div class="ten columns">{{ .Failures }} failures / {{ .Successes }} passes</div>
      </div>
      <div class="flake-item row">
        <div class="two columns">Started:</div><div class="ten columns">{{ humanizeTime .StartedAt }}</div>
      </div>
      <div class="flake-item row">
        <div class="two columns">Commit:</div><div class="ten columns"><a href="">{{ .Commit }}</a></div>
      </div>
    </div>
    {{ end }}
  </div>
</body>
