<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>snowflake</title>
  <meta name="description" content="">
  <meta name="author" content="Ed King <ed@teddyking.co.uk>">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="/static/dist/css/normalize.css" type='text/css'>
  <link rel="stylesheet" href="/static/dist/css/skeleton.css" type='text/css'>
  <link rel="stylesheet" href="/static/css/custom.css" type='text/css'>

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="/static/images/favicon.ico">

</head>

<body>
  <div class="container">
    <section class="header">
      <h1 class="title">❄️</h1>
    </section>

    <div class="summary">
      -- Found x flakes across y suites --
    </div>

    <div class="flake">
      <div class="flake-item row">
        <div class="two columns">Codebase:</div><div class="ten columns">snowflake</div>
      </div>
      <div class="flake-item row">
        <div class="two columns">Suite:</div><div class="ten columns">Integration Suite</div>
      </div>
      <div class="flake-item row">
        <div class="two columns">Test:</div><div class="ten columns"><a href="">[It] works successfully</a></div>
      </div>
      <div class="flake-item row">
        <div class="two columns">Cause:</div><div class="ten columns">Expected 1 to equal 2</div>
      </div>
      <div class="flake-item row">
        <div class="two columns">Flake rate:</div><div class="ten columns">3 failures / 11 passes</div>
      </div>
      <div class="flake-item row">
        <div class="two columns">Started:</div><div class="ten columns">1st Jan 2018 - 14:35</div>
      </div>
      <div class="flake-item row">
        <div class="two columns">Commit:</div><div class="ten columns"><a href="">c2f7feb</a></div>
      </div>
    </div>
  </div>
</body>
